<button class="btn btn-secondary" (click)="getGemstoneData()">Get Gemstone Prices</button>

<table class="table">
    <th *ngFor = "let column of gemstoneHeaders">
        {{ column }}
    </th>
    <tr *ngFor = "let row of gemstoneItems">
        <td>{{row.name}}</td>
        <td>{{row.id}}</td>
        <td>{{row.unitCost}}</td>
        <td>{{row.minPriceNQ}}</td>
        <td>{{row.velocityNQ}}</td>
        <!-- <td>{{row.minPriceHQ}}</td>
        <td>{{row.velocityHQ}}</td> -->
        <td>{{row.areaName}}</td>
    </tr>
</table>
