<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<ng-container *ngIf="{ items: rowData$ | async } as data">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="flipTableDropdownBtn"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ this.dropdownText }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="togglePrices(0)">{{
        dropdownTextOptions[0]
      }}</a>
      <a class="dropdown-item" (click)="togglePrices(1)">{{
        dropdownTextOptions[1]
      }}</a>
      <a class="dropdown-item" (click)="togglePrices(2)">{{
        dropdownTextOptions[2]
      }}</a>
      <a class="dropdown-item" (click)="togglePrices(3)">{{
        dropdownTextOptions[3]
      }}</a>
    </div>
  </div>

  <table class="table">
    <th *ngFor="let column of headers">
      {{ column }}
    </th>
    <tr *ngFor="let row of data.items; index as i">
      <td>{{ row.name }}</td>
      <td>{{ format(emptyIfInvalid(row.roiNq)) }}</td>
      <td>{{ row.minPriceNq }}</td>
      <td>{{ row.homePriceNq }}</td>
      <td>{{ row.worldNq }}</td>
      <td>{{ format(emptyIfInvalid(row.velocityNq)) }}</td>
      <td>{{ format(emptyIfInvalid(row.roiHq)) }}</td>
      <td>{{ row.minPriceHq }}</td>
      <td>{{ row.homePriceHq }}</td>
      <td>{{ row.worldHq }}</td>
      <td>{{ format(emptyIfInvalid(row.velocityHq)) }}</td>
    </tr>
  </table>
</ng-container>
