<button (click)="fillFlipTable()">Flip Items</button>

<table class="mat-elevation-z8">
    <th *ngFor = "let column of headers">
        {{ column }}
    </th>
    <tr *ngFor = "let row of dataArray; index as i">
        <td *ngFor = "let data of row">
            {{ data }}
        </td>
    </tr>
</table>

<button (click)="getGemstoneData()">Gemstones</button>

<table class="mat-elevation-z8">
    <th *ngFor = "let column of gemstoneHeaders">
        {{ column }}
    </th>
    <tr *ngFor = "let row of gemstoneItems">
        <td>{{row.name}}</td>
        <td>{{row.id}}</td>
        <td>{{row.unitCost}}</td>
        <td>{{row.minPriceNQ}}</td>
        <td>{{row.velocityNQ}}</td>
        <!-- <td>{{row.minPriceHQ}}</td>
        <td>{{row.velocityHQ}}</td> -->
        <td>{{row.areaName}}</td>
    </tr>
</table>